@import "../colors/Colors";

.dropdown {
  width: 100%;
  margin-bottom: 20px;
  &.open > .dropdown-toggle.btn-default:focus,
  &.open > .dropdown-toggle.btn-default:hover {
    color: $cost-blue;
    background: white;
  }
  .btn {
    position: relative;
    text-align: left;
    border-radius: 0;
    border: 2px solid $cost-blue;
    background: white;
    color: $cost-blue;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
    width: 100%;
    .caret {
      position: absolute;
      right: 20px;
      top: 22px;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      border-top: 6px solid;
    }
  }
  .btn:hover,
  .btn.aria-expanded {
    color: white;
    background: $cost-blue;
  }
  ul.dropdown-menu {
    border: 1px solid $cost-blue;
    border-radius: 0;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    li {
      a {
        color: $cost-blue;
        height: 40px;
        font-size: 16px;
        padding: 12px 10px;
        &:hover {
          color: white;
          background: $cost-blue;
        }
      }
    }
  }
}