@import "../colors/Colors";

.item-list {
  .item {
    padding: 10px 20px;
    display: flex;
    position: relative;
    height: 68px;
    background: $light-gray;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 20px;
    }
    cursor: pointer;
    .arrow-icon {
      width: 28px;
      height: 48px;
      margin-right: 20px;
      &.cost {
        background: url("../assets/ic_arrow_downward_white_48px.svg")
        no-repeat center center;
      }
      &.income {
        background: url("../assets/ic_arrow_upward_white_48px.svg")
        no-repeat center center;
      }
    }
    .item-texts {
      .amount {
        line-height: 1.3;
      }
      .description {
        font-size: 14px;
      }
    }
    .category-icon {
      width: 40px;
      height: 48px;
      margin: 0 20px;
      position: absolute;
      right: 0;
      &.salary {
        background: url("../assets/ic_monetization_on_white_48px.svg")
        no-repeat center center;
      }
      &.state {
        background: url("../assets/state-blue-small.png") no-repeat
        center center;
      }
      &.gift {
        background: url("../assets/ic_card_giftcard_white_48px.svg")
        no-repeat center center;
      }
      &.loan {
        background: url("../assets/loan-small.png") no-repeat center
        center;
      }
      &.other {
        background: url("../assets/ic_more_horiz_white_48px.svg")
        no-repeat center center;
      }
      &.bank {
        background: url("../assets/bank-small.png") no-repeat center
        center;
      }
      &.car {
        background: url("../assets/ic_directions_car_white_48px.svg")
        no-repeat center center;
      }
      &.clothes {
        background: url("../assets/clothing-hanger_blue-small.png")
        no-repeat center center;
      }
      &.drink {
        background: url("../assets/ic_local_bar_white_48px.svg")
        no-repeat center center;
      }
      &.food {
        background: url("../assets/ic_restaurant_white_48px.svg")
        no-repeat center center;
      }
      &.grocery {
        background: url("../assets/ic_shopping_cart_white_48px.svg")
        no-repeat center center;
      }
      &.house {
        background: url("../assets/ic_home_white_48px.svg") no-repeat
        center center;
      }
      &.investment {
        background: url("../assets/ic_assessment_white_48px.svg")
        no-repeat center center;
      }
      &.luxury {
        background: url("../assets/ic_hot_tub_white_48px.svg") no-repeat
        center center;
      }
      &.overhead {
        background: url("../assets/ic_lightbulb_outline_white_48px.svg")
        no-repeat center center;
      }
      &.pharmacy {
        background: url("../assets/hospital-small.png") no-repeat center
        center;
      }
      &.phone {
        background: url("../assets/ic_call_white_48px.svg") no-repeat
        center center;
      }
      &.travel {
        background: url("../assets/ic_flight_takeoff_white_48px.svg")
        no-repeat center center;
      }
    }
  }
}