@import "styles/colors";

.cost {
  .bubble {
    position: absolute;
    bottom: 130px;
    left: 50%;
    padding: 0!important;
    &.error {
      bottom: unset;
      top: 200px;
    }
    .inner {
      z-index: 100;
      opacity: 0.94;
      background-color: $light-gray;
      border: 2px solid $cost-blue;
      border-radius: 32px;
      color: $cost-blue;
      font-size: 14px;
      text-align: center;
      padding: 20px!important;
      position: relative;
      left: -50%;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 4px 5px 85px 1px #007bff17;
      width: unset;
      &.error {
        color: $cost-red;
        border: 2px solid $cost-red;
      }
    }
  }
}