@import 'styles/colors';

.header-top {
  background-color: $cost-blue;
  padding: 10px;
  color: white;
  display: flex;
  .hamburger-panel {
    position: absolute;
    top: 60px;
    right: -1px;
    bottom: 0;
    background: $cost-blue;
    z-index: 20;
    border-left: 2px solid white;
    transition: max-width ease-in-out 0.3s;
    &.open {
      max-width: 300px;
      box-shadow: rgba(0, 0, 0, 0.4) 4px 13px 6px 10px;
    }
    &.closed {
      max-width: 0;
      box-shadow: none;
    }
    .menu-item {
      color: white;
      height: 50px;
      width: 300px;
      text-align: center;
      font-size: 14px;
      padding: 10px;
      border-top: 2px solid white;
      line-height: 30px;
      cursor: pointer;
      &:last-child {
        border-bottom: 2px solid white;
      }
      &:hover {
        text-decoration: underline;
      }
      a {
        color: white;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .hamburger-panel,
    .hamburger-icon {
      display: none;
    }
  }
  @media screen and (max-width: 767.999999px) {
    .hamburger-icon {
      position: absolute;
      top: 18px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      overflow-y: hidden;
      transition: all ease-in-out 0.4s;
      > div {         
        transition: all ease-in-out 0.4s;
      }
      &.cross {
        transform: translateY(-5px);
        > div {
          transition: all ease-in-out 0.4s; 
          opacity: 0;
        }
        > div:first-child { 
          display: block;
          transform: rotate(45deg) translatex(9px) translateY(12px); 
          opacity: 1;
        }
        > div:last-child {
          display: block;
          transform: rotate(-45deg) translateX(1px) translateY(-4px);
          opacity: 1;
        }
      }
      > div { 
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
        border-radius: 2px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  @media screen and (max-width: 575.999999px) {
    .hamburger-panel {
      top: 60px;
    }
    .hamburger-icon {
      top: 18px;
      right: 20px;
    }
  }
}
