@import "styles/colors";

.cost {
  header {
    font-size: 14px;
  }
  @media screen and (min-width: 576px) {
    .logo {
      height: 40px;
      cursor: pointer;
    }
    .header-top {
      height: 60px;
    }
  }
  @media screen and (max-width: 575.999999px) {
    .logo {
      height: 40px;
      cursor: pointer;
    }
    .header-top {
      height: 60px;
    }
    .title {
      display: none;
    }
  }
  @media screen and (max-width: 767.999999px) {
    .header-top {
      box-shadow: rgba(0, 0, 0, 0.4) 0 6px 4px;
    }
  }
  .title {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: white;
  }
}

.logout-icon {
  background: url("../../assets/images/logout.svg") no-repeat center center; 
  width: 30px; 
  height: 30px;
}
